<header class="navigation top-nav">
  <h1>Designs</h1>
</header>

<footer class="navigation bottom-nav">
  <div>
    <a class="nav-active" href="../../pages/home/home.html">
      <img src="../../assets/home-active.svg" alt="home" />
      <p>Home</p>
    </a>
    <a href="../../pages/home/home.html">
      <img src="../../assets/search-inactive.svg" alt="home" />
      <p>Home</p>
    </a>
    <a href="../../pages/home/home.html">
      <img src="../../assets/profile-active.svg" alt="home" />
      <p>Home</p>
    </a>
  </div>
</footer>
